{% extends "base.html" %}

{% block page_title %}Úvod{% endblock %}

{% block background_image %}
<img id="manuscript-home" src="{{ url_for('static', filename='images/manuscript_home.png')}}">
{% endblock %}

{% block section %}Co je to LARP?{% endblock %}

{%block main_text %}
<p class="uvod">
    Z anglického live action role playing​
</p>
<p class="uvod">
    Na LARPu se vžijete do kůže Vámi vymyšlené postavy, užijete si spoustu dobrodružství i legrace,
    můžete kouzlit či bojovat jako dávní hrdinové nebo si jen tak užívat atmosféru světa plného fantazie!
</p>
<p class="uvod">
    Náš LARP je komorní akce pouze pro pozvané, je určený dětem cca do 15 let.
</p>
<p class="uvod">
    Zde si můžete přečíst více o larpu:   
</p>
<p class="uvod"><a href="https://cs.wikipedia.org/wiki/Larp" title="Navštívit LARP wikipedie">LARP wikipedie</a></p>
{% endblock %}

{% block slideshow %}
<fieldset>
    <!-- Slideshow container -->
<div class="slideshow-container">

    {% for img in images %}
    <div class="mySlides">
      <img src="{{ img }}" style="width:50%">
    </div>
    {% endfor %}
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>

  </div>
  </fieldset>

  <script src="{{ url_for('static', filename='slideshow.js')}}"></script>
  {% endblock %}