h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}

body {
    /*background-image: url('images/pozadi.png');*/
    background-color: blanchedalmond;
    color: blanchedalmond;
    font-family: Garamond, serif;
}

h3 {
    text-align: center;
    margin: 10px;
    padding-bottom: 0px;
}

fieldset {
    background-color: #5c4338;
    border: 5px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px -6px black;
}

.hlavni_stranka {
    padding: 0px;
}

p {
    text-align: justify;
    font-size: 14px;
}

legend {
    background-color: #628E90;
    padding: 1%;
}


.text {
    padding-left: 5%;
    padding-right: 5%;
}

.uvod {
    text-align: center;
}

.nazev {
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: none;
}

ul {
    list-style-type: none;
}

img {
    margin: auto;
    width: 50%;
    display: block;
}

a {
    color: #628E90;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.foto:hover {
    border-color: #456364;
    background-color: #456364;
}

.stitek {
    width: 10%;
    float:left;
}

.tluste {
    font-weight: bold;
    display: inline;
    color: #8bf5ff;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: blanchedalmond;
}

h5 {
    font-weight: bold;
    margin: 0;
}

h6 {
    margin: 0;
    text-transform: uppercase;
}

.navod {
    color: #8bf5ff;
}

.row {
    display: flex;
    padding: 0;
}

.pravidla_styl {
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#erby {
    width: 90%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.dole {
    border: 1px solid black;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.siti_obr {
    width: 30%;
    margin-top: 5%;
}

.siti_obr:hover {
    transform: scale(1.2);
}

.rasy {
    margin-left: -10%;
    width: 30%;
    text-align: left;
    size: 25px;
    padding: 15px;
}

hr {
    color: #628E90;
    border: 1px solid #628E90;
}

.cara {
      padding-top: 0px;
      margin-top: 0px;
}

.boj {
      width: 100%;
}

.seznam {
      padding-top: 10px;
      padding-right: 20px;
}

#mec {
      float: right;
      width: 30%;
      padding-right: 20px;
}

.info {
      text-align: left;
      text-transform: uppercase;
      color: blanchedalmond;
      margin: 0px;
}

.info1 {
      text-align: left;
      text-transform: uppercase;
      color: #00bdce;
      font-weight: bold;
}