<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1">

<title>{% block page_title %}{% endblock %} | Příběhy Šalvánie</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='slideshow.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles_phone.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles_desktop.css')}}">


</head>

<body">

<div class="desktop">
  <fieldset class="container">
  <div class="row">
    <div class="column">
      <a class="'nazev_stranky" href="{{ url_for('homepage')}}">
        <h1>Příběhy Šalvánie</h1>
    </a>
      </div>
  <div class="column">
    <img id="listiny" src="{{ url_for('static', filename='images/pribehy_obr1.png')}}">
  </div>
  <div class="column">
    <img id="listiny" src="{{ url_for('static', filename='images/dron_pravda.jpg')}}">
  </div>
  <div class="column">
    <img id="listiny" src="{{ url_for('static', filename='images/les.jpg')}}">
  </div>
  <div class="column">
    <img id="listiny" src="{{ url_for('static', filename='images/dron_svetlo.jpg')}}">
  </div>
  </div>
  </fieldset>
</div>

<div class="mobile">
  <fieldset class="container_mobile">
  <div class="row">
    <div class="column">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
          <ul id="menu">
            <li><a class="menu" href= "{{ url_for('homepage')}}"> Domů </a></li>
            <li><a class="menu" href="{{ url_for('pravidla')}}"> Pravidla </a></li>
            <li><a class="menu" href="{{ url_for('postavy')}}"> Postavy </a></li>
            <li><a class="menu" href="{{ url_for('svet')}}"> Reálie světa </a></li>
            <li><a class="menu" href="{{ url_for('probehle')}}">Proběhlé akce</a></li>
            <li><a class="menu" href="{{ url_for('foto')}}">Fotogalerie</a></li>
            <li><a class="menu" href="{{ url_for('navody')}}" >Návody </a></li>
            <li><a class="menu" href="{{ url_for('pristi')}}"> Příští akce </a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <a class="'nazev_stranky" href="{{ url_for('homepage')}}">
          <h1>Příběhy Šalvánie</h1>
      </a>
      </div>
  </div>        
  </fieldset>
</div>

<div class="desktop">
  <fieldset class="menu_box">
    <ul>
        <li><a class="menu" href= "{{ url_for('homepage')}}"> Domů </a></li>
        <li><a class="menu" href="{{ url_for('pravidla')}}"> Pravidla </a></li>
        <li><a class="menu" href="{{ url_for('postavy')}}"> Postavy </a></li>
        <li><a class="menu" href="{{ url_for('svet')}}"> Reálie světa </a></li>
        <li><a class="menu" href="{{ url_for('probehle')}}">Proběhlé akce</a></li>
        <li><a class="menu" href="{{ url_for('foto')}}">Fotogalerie</a></li>
        <li><a class="menu" href="{{ url_for('navody')}}" >Návody </a></li>
        <li><a class="menu" href="{{ url_for('pristi')}}"> Příští akce </a></li>
    </ul>
    </fieldset>
  </div>

    {% block background_image %}{% endblock %}
    
    <div style="float:initial;" class="hlavni_stranka">

    <br>

    <fieldset class="text">
      <legend><h3>
        {% block section %}{% endblock %}
      </h3></legend>
      <div>
        {% block main_text %}{% endblock %}
      </div>
  </fieldset>

  <br>

{% block slideshow %}{% endblock %}

    <br>
    <hr class="dole">
    <a target="_blank" href="https://www.facebook.com/P%C5%99%C3%ADb%C4%9Bhy-%C5%A0alv%C3%A1nie-larp-116720819703811" title="Přejít na FB">
        <img src="{{ url_for('static', filename='images/fb.png')}}" alt="obr4" id="obr4">
    </a>
    <p class="uvod"">
      <a href="mailto:detskylarpinfo@gmail.com" title="Napsat email">detskylarpinfo@gmail.com</a>
    </p>

</body>
</html>
