{% extends "base.html" %}

{% block page_title %}Fotogalerie{% endblock %}

{% block background_image %}
<img id="foto_paint" src="{{ url_for('static', filename='images/foto_paint.png')}}">
{% endblock %}

{% block section %}Fotogalerie{% endblock %}

{%block main_text %}
<br>
<button class="foto"
onclick="window.open('https://photos.google.com/share/AF1QipNGsacwX64itaQnXQUTUGPfS7NcjEX-vinyBywEcUEV4iTBeirgW77QcMLfS24Xeg?key=dkpMODBlTTdzMHRxRm9YcFZqREpVUC1XMndlOVhB', '_blank'); return false;">
      Pustina 8. 10. 2017 - fotky Taronor
</button><button class="foto"
onclick="window.open('https://photos.app.goo.gl/vVngBNE5GMRGgmjbA', '_blank'); return false;">
      Srdce lesa 2. 6. 2018 - fotky Tomáš Pulc
</button><button class="foto"
onclick="window.open('https://photos.app.goo.gl/VkMkccSzFdBDPj989', '_blank'); return false;">
      Pravda 6. 10. 2018 - fotky Tomáš Pulc
</button><button class="foto"
onclick="window.open('https://photos.app.goo.gl/Q7za7s1WwCuDDhw28', '_blank'); return false;">
      Slavnost Tvrz Dřevčice 30. 3. 2019 - fotky Tomáš Pulc
</button><button class="foto"
onclick="window.open('https://photos.google.com/share/AF1QipMECVtaKqFl7YZOi4hsVvsftliCBvtY6AGKNZ5lRk7askIptJW0HUMC_MNc8lDKmg?key=QWU1ZHd1eWNaMklfdGhzNWo5NHRFckJtRndYLUd3', '_blank'); return false;">
      Světlo na konci tunelu 16. 11. 2019 - fotky Tomáš pulc
</button><button class="foto"
onclick="window.open('https://photos.google.com/u/2/share/AF1QipPxFafrAx7_cWnZDW0dr0kdtEVXKvI3FWlm0ZPNI8QJAUL3eM9ZqaSBBVYc-5x7lw?key=bkxTOVFrVVIxeVRyQ1dVNDBzV01vQjVTTVJhTDBR', '_blank'); return false;">
      Lovecká výprava Prince Januše 30. 8. 2020 - fotky Tomáš pulc
</button>
{% endblock %}

{% block slideshow %}
<script src="slideshow.js"></script>
<link rel="stylesheet" href="text/css" href="slideshow.css">

<fieldset>
<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <img src="{{ url_for('static', filename='images/slide1.jpg')}}" style="width:100%">
    </div>
  
    <div class="mySlides">
      <img src="{{ url_for('static', filename='images/slide2.jpg')}}" style="width:100%">
    </div>
  
    <div class="mySlides">
      <img src="{{ url_for('static', filename='images/slide3.jpg')}}" style="width:100%">
    </div>

    <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide4.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide5.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide6.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide7.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide8.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide9.jpg')}}" style="width:100%">
      </div>

      <div class="mySlides">
        <img src="{{ url_for('static', filename='images/slide10.jpg')}}" style="width:100%">
      </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
  </div>
  </fieldset>

  <script src="{{ url_for('static', filename='slideshow.js')}}"></script>
  {% endblock %}