{% extends "base.html" %}

{% block page_title %}Návody{% endblock %}

{% block background_image %}
<img id="navody" src="{{ url_for('static', filename='images/navody.png')}}" alt="navody">
{% endblock %}

{% block section %}Návody{% endblock %}

{%block main_text %}
<br>
<a href="C:\Users\drakv\Desktop\fbmi\programko\weby\pribehy_salvanie\NÁVODY NA KOSTÝMY.pdf">
    <img class="siti_obr" src="{{ url_for('static', filename='images/siti.png')}}" alt="obr3" title="Otevřít PDF návod">
</a>
<br>
<br>
<p>
    Několik ukázek kostýmů (pro inspiraci) a návodů na výrobu. Držíme palce, ať se daří!
    Ale pokud nebude, netrapte se a ozvěte se. Je možné, pokud bude zájem a shodneme se na
    nějakém termínu, že bychom udělali společnou dílničku, na které dětem s výrobou kostýmu
    pomůžeme. A když ne, alespoň radou po e-mailu. Pokud Vás nebude moc, je možné se domluvit i
    individuálně.

    Kostýmy stačí poměrně jednoduché, mají pouze dokreslovat atmosféru hry.
</p>
<p>
    Odkaz na návody na výrobu uší, vousů, kostýmů, zbraní...
    <br>
    <a class="navod" href="http://letnitaborypm.wbs.cz/Navody-a-uzitecne-odkazy.html">Návod na uši</a>
    <br>
    Návod je na elfské uši, ty udělejte opravdu dlouhé, hobití, skřítkovské atd.
    vytvářejte stejným způsobem, jen jinou délku popř. tvar.
</p>
<p>
    Další návody na zbraň:
    <br>
    <a class="navod" href="http://hurka.uhobitu.cz/product.php?id_product=314">Návod na zbraň 1</a>
    <br>
    <a class="navod" href="http://hurka.uhobitu.cz/product.php?id_product=540">Návod na zbraň 2</a>
</p>
<p>
    Odkaz je na návod z obchodu, kde se prodávají doplňky na LARP. Je zde možné koupit materiál i
    hotovou zbraň, ale stojí to dost peněz, nicméně vypadá potom pěkně. Děti z mých táborů
    tyto meče znají z her s Monikou. Pokud chcete levnější variantu, je možné jako pevný základ
    pro meč použít PVC trubky nebo pevnou dřevěnou tyčku a obalit (vyměkčit) pěnovou izolací na trubky
    (jako v prvním návodu). Pak je meč silnější, ale pro tento účel stačí. Také je možné na měkčení
    použít silnější karimatku (jak jsme to dělali na táborech), ale meč není tak pevný. Nicméně pro
    tento účel stačí i ten. (vystřihnout z karimatky 2x tvar meče, vlepit pevné jádro, slepit k sobě
    chemoprénem a potom pokračovat podle návodu oblepením kobercovou páskou, nabarvit atd.)
</p>
<p>
    Pokud někdo budete mít vlastní luk nebo kuši, je nutné!!! mít měkké bezpečnostní hlavice na šípy a šipky!
    Odkaz na návod je uveden výše, lze je tam i koupit, ale ani jedna varianta není příliš levná.
    Pokud by Vám stačil pouze jeden šíp, myslím, že není problém zapůjčit. Ale je nutné si před hrou
    vyzkoušet, jestli šíp půjde Vaším lukem vystřelit.
</p>
<p>
    Na vrhací nožík není potřeba pevné jádro, stačí 2-3 vrstvy karimatky, vystřihnout tvar, slepit, 
    polepit kobercovkou, nabarvit, popřípadě rukojeť omotat jiným materiálem (třeba kůží)
</p>
<p>
    Pokud si nevíte rady s výrobou kouzelnické hůlky (pro malé lesní bytosti), mám jeden tip na výrobu:

    4 špejle k sobě připevníte papírovou lepící páskou a omotáváte cca do 2 třetin, aby vznikla silnější
    tyčka. Mezi neomotané konce špejlí vložíte hlavici, drahokam… např plastový, z alobalu vyrobený, malý
    balonek naplněný moukou a ozdobený např. peříčky atd, a pořádně přilepíte. Papírovou páskou omotáte
    zbytek špejlí až k hlavici tak, aby tam pevně seděla, a dozdobíte (pomalujete, polepíte dekorací,
    barevným pískem, kamínky, peříčky, hezky vypadá i udělat tečky, spirálky atd z tavící pistole a obarvit fixou)
</p>
<img src="{{ url_for('static', filename='images/lid2.png')}}" alt="roche">
<hr class="cara">
<legend class="rasy" style="width: 50%;"><h5>Výroba kostýmu</h5></legend>
<br>
<h4>Pár rad na začátek:</h4>
<ol>
<li type="circle" class="seznam">
   <div class="tluste">Rozmyslete se, kam byste kostým chtěli ladit </div>(lesní, rytířský, bohatý,
   chudší, šlechtický, dobrodružný, válečný...) a držte se toho po celou dobu, aby k sobě jednotlivé části ladily
</li>
<li type="circle" class="seznam">
    <div class="tluste">Vyberte vhodný materiál</div> (na základní košili stačí i obyčejné bavlněné
    plátno, ikdyž lépe funguje i vypadá len, na kápi, kabát, tuniku nebo plášť se více hodí tlustší látky)
    Kostýmy doporučuji šít ze lnu (je lehký, v létě chladí a vypadá pěkně, pro naše účely však stačí i
    bavlněné plátno), nebo z vlny (vypadá nejlépe, dobře se zní šije - moc se netřepí ani nemačká, co
    je ale nejdůležitější - zahřeje, nepromoká a izoluje. Poměrně levně se dá sehnat ve zbytkových
    látkách v obchodě Aped na Vinohradech). Jiné látky jsou tolerované, ale nedoporučované. Pokud
    budete mít pěkně ušitý kosým z umělých látek, nebo z dyftýnu, životy navíc nedostanete.
</li>
<li type="circle" class="seznam">
    <div class="tluste">Funkčnost</div> - Myslete na to, že vzhled a funkčnost kostýmu jdou ruku v ruce.
    Funkčností mám na mysli využití vhodných materiálů, nevyužívání doplňků, které překáží, nemít na
    kostýmu nebezpečné špičky atd.
</li>
<li type="circle" class="seznam">
    <div class="tluste">Začínejte základním kusem oblečení</div> (košile, jednoduché šaty) a až potom
    přidávejte další (kápě, vesta, plášť, čepice, klobouk)
</li>
<li type="circle" class="seznam">
    <div class="tluste">košile</div> (je to nejjednodušší typ oděvu, který je minimem pro každého.
</li>
<li type="circle" class="seznam">
    <div class="tluste">V jednoduchosti je síla</div> (lepší je mít jen pěknou vlněnou tuniku, než
    tisíc k sobě neladících vrstev jen proto, aby vypadal kostým složitěji)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Ale zároveň doplňky dělají hodně</div> (Když jednoduché šaty doplníte pěkným páskem,
    kožešinkou, váčkem a čepicí, hned je kostýmová úroveň zase někde jinde)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Dobrým doplňkem bývá pro začátek kápě</div> (Nejlepší bývá vlněná) Je to dobrý
    doplněk skoro ke všemu a skoro pro každou postavu. v nepěkném počasí za ni ještě budete vděční.
</li>
<li type="circle" class="seznam">
    <div class="tluste">Pásek, pásek, pásek!!!</div> (Praktický doplněk, který každý doma najde, hned vylepší
    plandající tuniku o level výš, dají se na něj pověsit tašvice, váčky nebo třeba meč. Nejčastější
    jsou kožené pásky, ale dá se použít i kus konopného provazu nebo třeba šátek)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Žebradlo</div> - (jednoduchá taška přes rameno na uložení větších předmětů.
    Jde o hlavně praktický doplněk, ale když se udělá pěkně (třeba z vlny), může kostým velmi vylepšit.)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Kostýmu zpravdila hodně dodá pokrývka hlavy</div> (oblíbený je například baret,
    kožešinová čepice, plstěný klobouk, nebo na léto slamák)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Tašvice a váčky</div> – pěkný a hlavně praktický doplněk (Nejjednodušší je na výrobu
    kožený, nebo vlněný váček, tašvice je trochu složitější, ale též ji zvládne každý. Pro účely ukládání věcí
    stačí i plátěný pytlík, ale vzhled samozřejmě není tak dobrý.)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Plášť</div> (Pěkný, do půlkruhu střižený plášť působí též moc dobře a navíc zahřeje.
    Nejčastější a zároveň nejpraktičtější je vlněný)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Varkoč nebo tabard</div> (Pokud chcete vypadat rytířsky, neexistuje snažší možnost.
    Ve středověku se používaly jako uniformy, zkrátka barevně rozlišovaly jednotlivé jednotky. Většinou vypadají
    jako tunika bez rukávů a nosí se buď přes zbroj nebo právě přes tuniku. Často bývají vícebarevné a mívají na sobě erby)
</li>
<li type="circle" class="seznam">
    <div class="tluste">Doublety a kabátce</div> (Ty jsou už o dost složitější, ale rozhodně o to víc cool.
    Musíte si však dát pozor, aby ladily se zbytkem - k renesančnímu kabátci rozhodně nelze dát vikongskou kápi atd...)
</li>
</ol>
<p class="tluste">
Kdybyste potřebovali s něčím pomoct nebo poradit, neváhejte a ptejte se.
<br>
Přejeme hodně štěstí a těšíme se na Váš výsledek na larpu!!!
</p>
{% endblock %}