{% extends "base.html" %}

{% block page_title %}Postavy{% endblock %}

{% block background_image %}
<img id="postava" src="{{ url_for('static', filename='images/postava.png')}}">
{% endblock %}

{% block section %}Postavy{% endblock %}

{%block main_text %}
<p>
    Hráči budou rozděleni do dvou kategorií podle věku. Mladší děti cca do 10ti let,
    starší cca od 10ti let. Spodní a horní hranice věku není určena,  vše je na domluvě.

    Každý z hráčů si vybere postavu, kterou chce hrát. Každá rasa má nějaké výhody a
    nevýhody, nadání pro nějakou činnost atd..

    Pro každou postavu je nutné vytvořit kostým, který ji charakterizuje. U popisu postavy
    je vždy uvedeno, co by měla mít, další tipy a inspirace najdete v sekci návody.
    Pokud si s výrobou kostýmu nebudete vědět rady, pište, volejte či jinak kontaktujte,
    rádi Vám s přípravou poradíme, pomůžeme, nějaké doplňky (v omezeném množství) budou k zapůjčení.
</p>
<img class="boj" src="{{ url_for('static', filename='images/lid1.png')}}">
<hr>
<legend class="rasy"><h6>Mladší děti</h6></legend>
<p>
    Jsou kouzelné lesní bytosti.
</p>
<p class="tluste">
    víly, rusalky, bludičky, skřítci, šotci, divoženky, dryády, gnómové… atd, co koho napadne :-)
</p>
<!---
<img class="boj" src="vila.png" alt="vila">
-->
<p>
    Kouzelné bytosti samozřejmě umějí kouzlit. Jde o lesní kouzla, kterými mohou pomáhat či naopak
    uškodit dalším hráčům i loupežníkům a jiným potvorám, které by je třeba chtěly v lese přepadnout.
    Také dokáží připravit nejrůznější lektvary, kouzelné mastičky, mohou dělat magické rituály.
    Kouzlení je pro ně přirozené stejně jako třeba dýchání, proto se nemusejí nic učit. Kouzla si
    vymýšlejí podle své fantazie, stejně jako míchání nejrůznějších lektvarů.  
</p>
<p>
    I tyto postavy mohou bojovat, ale rozměry jejich zbraní musí být přiměřené jejich velikosti
    (Nesmí používat obouruční a dřevcové zbraně, velké štíty a luky).

    I lesní bytosti jsou ve hře důležité, umí mnoho věcí, které jiné postavy nedokáží :-).
</p>
<img src="{{ url_for('static', filename='images/skritek.png')}}" alt="skritek">
<hr class="cara">
<legend class="rasy"><h6>Kostýmy</h6></legend>
<p>
    Víly, rusalky, bludičky - šaty vhodné na běhání v lese přírodních barev, víly mohou být barevnější,
    rusalky a bludičky v zelených, světlých barvách + další doplňky (křídla, věneček, květiny, malování…)
</p>
<p>
    Divoženky, dryády - šaty, sukně zelených, hnědých barev, cípaté, doplňky z přírodnin
</p>
<p>
    Skřítci - oblečení v lesních barvách, dlouhá košile, hábit, pláštík…, skřítkovská čepička nebo kápě,
    skřítci mohou mít dlouhé uši.
</p>
<p>
    Šotci - barevné, bláznivé oblečení, kabátek, široké kalhoty…, další doplňky (třásně, peříčka,
    cinkátka, dlouhé uši…)
</p>
<img class="boj" src="{{ url_for('static', filename='images/lesni_pani.png')}}" alt="lesni_pani">
<hr>
<p>
    Berte to jako naše návrhy, samozřejmě každý má trochu jiný pohled a nápad.
</p>
<p>
    Kouzelné bytosti mohou mít kouzelnou hůlku. Plastová koupená v hračkářství nejlépe v růžových či
    jiných třpytivých barvách se pro lesní stvoření moc nehodí. Lepší je, když si děti kouzelnou hůlku
    vyrobí samy, myslím, že se na tom mohou docela vyřádit, fantazii se meze nekladou. Jako kouzelná hůlka
    se ale hodí i zajímavá větvička nalezená v lese popř. ozdobená třeba listy, kvítky či jakkoliv jinak.
</p>
<p>
    Pokud budou chtít bojovat, potřebují svou zbraň. Jak už bylo zmíněno, velikost musí být úměrná postavě :D

    Zbraň je možné vyrobit či koupit, něco snad bude k zapůjčení, kdyžtak se ozvěte.
</p>
<p>
    Důležité je, aby zbraň byla bezpečná! V sekci Návody najdete rady na výrobu.

    Pokud si nejste jisti, že vaše zbraň vyhovuje, raději se ozvěte předem a já se na ni podívám. 
</p>
<hr>
<legend class="rasy"><h6>Starší děti</h6></legend>
<p>
    Starší děti si mohou vybrat, zda chtějí hrát za člověka, elfa, hobita, trpaslíka, měniče, kočičáka,
    nebo barbara.  Nově nabízíme postavu gnóma.
</p>
<p>
    Podle zvolené postavy je nutné vytvořit kostým. Mělo by jít na první pohled poznat,
    kterou rasu ztvárňujete.
</p>
<hr>
<legend class="rasy"><h6>ČLOVĚK</h6></legend>
<p>
    Hodí se téměř na všechno, ale nejvíce vyniká v lovu, nepotřebuje žádné speciální doplňky. 
    Co se kostýmu týče, lidé se oblékají velmi rozmanitě v závislosti na tom, odkud pocházejí
    (koukněte na reálie světa).
    Primárně se inspirujte vrcholným až pozdním středověkem, nebo třeba hrou Zaklínač 3. 

    <br>
    <b class="tluste">Počet životů: 2</b>
    <br>
    Vybrat si můžete ze tří nadání: hraničář, velitel a fanatik.
    <br>
    <b class="tluste">Hraničář</b> - zná stopy zvířat i některých příšer (může stopovat), umí klást pasti.
    <br>
    <b class="tluste">Velitel</b> - může si přinést prapor a vytvořit s dalšími až 5 lidmi (nesmí to být jiná rasa) jednotku a...
    <br>
    <b class="tluste">Fanatik</b> - může sesílat požehnání a prokletí od boha Anatara (stejné jako dotyková kouzla, ale
    místo zaplacení many si hodí kostkou a když mu padlo 5 nebo 6, tak uspěl, nesmí to zkoušet víckrát po sobě)
</p>
<img src="{{ url_for('static', filename='images/vojaci.png')}}" alt="vojaci" class="boj">
<hr>
<legend class="rasy"><h6>ELF</h6></legend>
<p>
    Elf je bytost, pocházející z lesa. Má zvýhodnění při nenápadném pohybu lesem, skrývání se, a při
    kouzlení. (oproti minulým pravidlům bojovat s mečem smí!) Musí mít dlouhé špičaté uši, návod na
    výrobu najdete v sekci návody.
    Elfové se odívají převážně do zelených, hnědých a přírodních barev (není to ale podmínkou, elfové,
    co žijí ve městech si naopak v barvách libují.),
    mají rádi různé cípy, široké kápě, dlouhé a splívavé vesty či kabáce, oblíbené mají všemožné zdobení
    a ornamenty (často listy a přírpodní motivy).
    Inspirovat se můžete elfy ze hry Zaklínač 3, nebo z filmů Pán prstenů. 
    <br>
    <b class="tluste">Počet životů: 1</b> (pomocí magického rituálu si může vždy před bojem zvýšit počet životů o 1)
</p>
<p>
    <b class="tluste">Maskování</b> - Může se schovat (musí být reálně alespoň trochu skrytý) tak, že ho nikdo nevidí
    (Značí se rukou na hlavě),
    během maskování se nesmí hýbat ani mluvit.
    <br>
    <b class="tluste">Kouzlení</b> - Kouzla ho stojí o 1 manu méně (pokud je to možné).
    <br>
    <b class="tluste">Magická moc</b> - může používat i slova, která nejsou z jeho živlu.
</p>
<p>
    <b class="tluste">Nevýhody:</b><br>
    Nemůže si trvale zvýšit (počet životů), pouze jednorázově před bojem pomocí rituálu.
    <br>
    Nemůže se naučit dovednost "obří síla" - jeho zbraně na blízko vždy berou pouze 1 život.
</p>
<img src="{{ url_for('static', filename='images/elf.png')}}" alt="">
<hr>
<legend class="rasy"><h6>TRPASLÍK</h6></legend>
<p>
    Trpaslík je silná a odolná bytost. Jeho výhodou je zvýšená odolnost proti zraněním,
    nepůsobí na něj magie. Jeho základním znakem jsou fousy!
    Trpaslíci nosí nejčastěji nařasené tuniky, volné kalhoty a kápě, mají rádi ornamenty a
    hlavně runové nápisy. Můžete se inspirovat raným středověkem (např. vikingy), 
    trpaslíky z Pána prstenů, není to ale podmínkou, trpaslíci žijící ve městech převzali
    lidskou módu, jen ji doplnili o runy a ornamenty.
    <br>
    <b class="tluste">Počet životů: 3</b>
</p>
<p>
    <b class="tluste">Odolnost proti magii</b> - nepůsobí na něj žádná kouzla, magické předměty ani kouzelné lektvary
    (jedy a léčivé ANO)<br>
    <b class="tluste">Obří síla</b> - Prvním zásahem v boji může ubrat 2 životy (hlásí se pomocí hesla "Zhiň")
</p>
<p>
    <b class="tluste">Nevýhody:</b><br>
    Nemůže se učit magii.
    <br>
    Nemůže mít schopnost "maskování" a "plížení". 
</p>
<img src="{{ url_for('static', filename='images/trpos.png')}}" alt="trpaslik">
<hr>
<legend class="rasy"><h6>HOBIT</h6></legend>
<p>
    Hobit je bytost milující klid a pohodlí. Je velice zručný a obratný, jeho výhodou je tichý
    a nenápadný pohyb - když nechce, nikdo si ho nevšimne. Nemůže ale bojovat zbraní větší než 60 cm.
    Hobit by měl mít krátké špičaté uši. Inspirace a návod v sekci návody.
    Hobiti se odívají do krátkých barevných vestiček a kabátů, rádi nosí kahloty s kšandami a
    různé klobouky. Skvělý doplněk je dýmka nebo vycházková hůl. Inspirujte se hobity z Pána prstenů.
    <br>
    <b class="tluste">Počet životů: 2</b>
</p>
<p>
    <b class="tluste">Maskování</b> - Může se schovat (musí být reálně alespoň trochu skrytý) tak, že ho nikdo nevidí
    (Značí se rukou na hlavě),
    během maskování se nesmí hýbat ani mluvit.
    <br>
    <b class="tluste">Plížení</b> - může se pomaličku (pata špička) plížit v zákrytu (podél zdi ve stínu, v hustém lese mezi stromy)
    a ostatní postavy ho musí ingonorovat.
    Při plížení nesmí mluvit, ani vydávat jiné zvuky, dupat (musí jít opravdu tiše), zvednout se, vyjít
    ze zákrytu, bojovat, střílet, kouzlit, prostě nic, jen se plížit. Plížení se značí rukou na hlavě
    <br>
    <b class="tluste">Bylinkář</b> - může míchat léčivé, omamné a jedovaté lektvary pouze z bylinek (nepotřebuje surviny),
    může mít u sebe o 2 bylinky více.
    <br>
    <b class="tluste">Hobití</b> blahobyt - když se nají a chvilku si pohoví, může si vyléčit jeden život.
</p>
<p>
    <b class="tluste">Nevýhody:</b>
    <br>
    Nemůže se naučit dovednost "obří síla", jeho zbraně vždy berou pouze 1 život.
    <br>
    Nemůže mít více než základní počet many.
    <br>
    Nemůže používat obouruční a dřevcové zbraně a velké štíty.
</p>
<img class="boj" src="{{ url_for('static', filename='images/hobit.png')}}" alt="hobit">
<hr>
<legend class="rasy"><h6>MĚNIČ</h6></legend>
<p>
    Měnič je bytost na první pohled vypadající jako člověk, dovednostmi je stejný jako člověk,
    ale má ještě schopnost navíc - umí se měnit na zvířata. Ve zvířecí podobě umí komunikovat se
    zvířaty, ale nemůže mluvit s lidmi, má také schopnosti daného zvířete.
    <br>
    Měnič je kostýmově náročnější postava, je zapotřebí mít připravené masky zvířat, do kterých se
    chce měnit. je fajn mít alespoň dvě zvířata. Stačí třeba škraboška na obličej nebo kápě, čepička
    na hlavu, čelenka s oušky atd, ale musí být poznat, o které zvíře se jedná. (Např. pták - umí létat,
    ale musí mít křídla a zobák, kočka vidí ve tmě, umí chodit tiše a nenápadně, musí mít ouška a ocas...)
    <br>
    Vlastnosti jednotlivých zvířat je možné konzultovat předem s námi. Počet zvířat, na které se měnič může
    měnit, není omezen, ale je dán počtem masek, které má připraveny.
    <br>
    <b class="tluste">Počet životů: 2</b>
</p>
<p>
    <b class="tluste">Výhody, nevýhody</b> - stejně jako člověk + vlastnosti zvířete, pokud je měnič proměněný.
</p>
<img class="boj" src="{{ url_for('static', filename='images/menic2.png')}}" alt="menic">
<hr>
<legend class="rasy"><h6>KOČIČÁK</h6></legend>
<p>
    Kočičák je míšenec člověka a kočky, takže má jak lidské tak zvířecí vlastnosti - je hravý,
    rád se mazlí, hraje si s čímkoliv, co vidí, neptá se, co komu patří, vezme si, co se mu líbí,
    sní, na co má chuť. Vidí ve tmě, umí chodit potichu a nenápadně, chodí po dvou, mluví lidskou řečí.
    Jde o postavu, která je herně náročnější, je nutné opravdu ji hrát. Musí mít ouška a ocas a celkové
    vzezření kočky - třeba malování, kožešinky atd.
    Kočičáci žijí na stepích a polopouštích, podle toho se také odívají do světlých barev, nosí splívavé oblečení,
    mají rádi barevné a všemožně vzorované šátky. Jako doplěk se hodí třeba nějaké rolničky a cinkátka. Inspirovat
    se můžete např. Saracény, Osmany nebo třeba Haradskými z Pána prstenů. 
    <br>
    <b class="tluste">Počet životů: 1</b>
</p>
<p>
    <b class="tluste">Šestý smysl</b> - neherně se může zeptat, zda má druhá postava proti němu špatné úmysly a dotázaná postava musí
    po pravdě odpovědět. Kočičák pak podle této informace může herně jednat.
    <br>
    <b class="tluste">Mlha</b> - během boje může na chviličku  (cca 1-3 vteřiny) zmizet a objevit se jinde - ruka na hlavě.
    <br>
    <b class="tluste">Lízání si ran</b> - může si vyléčit jeden život tím, že se na chvíli uchýlí do ústraní, kde ho nikdo nevidí a
    vylíže si rány (alespoň pár minut).
    <br>
    <b class="tluste">Rychlé prsty</b> - při okrádání pomocí kolíčku mu stačí napočítat do 50 namísto do 100.
</p>
<p>
    <b class="tluste">Nevýhody:</b>
    <br>
    Nemůže se učit bojové schopnosti - tvrdý úder, odolnost atd...
</p>
<img class="boj" src="{{ url_for('static', filename='images/khajiit.png')}}" alt="khajiit">
<hr class="cara">
<legend class="rasy"><h6>BARBAR</h6></legend>
<p>
    Barbar je člověk, který je zaměřen hlavně na boj. Jeho výhodami jsou síla a odolnost, nevýhodou malá
    inteligence - mluví krátkými jednoduchými větami, neumí číst, špatně a pomalu se učí, rychle se naštve
    a problémy řeší silou. Jde o postavu, která je herně náročnější, je nutné opravdu ji hrát. Kostým tvořený
    hlavně kůžemi a kožešinami.
    Barbaři žijí na severu, oblečení mají tudíž také uzpůsobno do zimy. Nosí kaftany, kápě, široké kalhoty a
    kožešiny. Inspirujte se vikingy.
    <br>
    <b class="tluste">Počet životů: 4</b>
</p>
<p>
    <b class="tluste">Síla</b> - jeho zbraně ubírají dva životy  (je nutno zasaženému hlásit pomocí hesla "Zhiň"!).
    <br>
    <b class="tluste">Zuřivost</b> - Pokud je zraněn, může zařvat a dát příští zásah za 3 životy (je nutno hlásit pomocí hesla "za tři")
    <br>
    <b class="tluste">Odolnost</b> - v každém boji si nepočítá první zásah.
</p>
<p>
    <b class="tluste">Nevýhody:</b>
    <br>
    Nemůže se naučit sbírat bylinky.
    <br>
    Nemůže se učit magii.
</p>
<img src="{{ url_for('static', filename='images/barbar.png')}}" alt="">
<hr>
<legend class="rasy"><h6>GNÓM</h6></legend>
<p>
    Gnóm je to malý velmi šikovný mužíček, má rychlé prsty a zvládne vyrobit snad cokoli, co si
    dokážete představit. Má zalíbení ve všech možných zajímavých předmětech, mívá kapsy plné nejrůznějších
    věciček, šroubků, flakónků, drátků, zápalek... Prý se někdy můžou hodit. Jde o postavu herně i kostýmově
    náročnější. Je zapotřebí ji opravdu hrát. Kostým by měl obsahovat spoustu váčků, taštiček, lahviček,
    nářadí atd. všude možně. Hodí se steampunkové doplňky jako brýle, klobouky, kožené zástěry, ozubená
    kolečka, jiné kožené doplňky... 
    <br>
    <b class="tluste">Počet životů: 1</b>
</p>
<p>
    <b class="tluste">Snášenlivost</b> - může vypít neomezený počet lektvarů naráz (efekty se ale nesčítají!), aniž by dostal
    nějaký postih.
    <br>
    <b class="tluste">Odolnost proti jedům atd.</b> - na gnóma nepůsobí žádné jedy, nestává se závislým na žádných omamných
    látkách, může dýchat i v místech, kde se ostatní dusí...
    <br>
    <b class="tluste">Střelný prach</b> - Vždycky po kapsách najde nějaký ten střelný prach, tudíž může vyrábět výbušniny,
    aniž by ho musel shánět (tento střelný prach nemůže nikomu dát ani prodat).
    <br>
    <b class="tluste">Pokusný králík</b> - Dokáže vymýšlet vlastní recepty na léčivé, omamné a jedovaté lektvary.
    <br>
    <b class="tluste">Mistr směsí</b> - umí míchat veškeré lektvary za použití pouze surovin (bez bylinek).
    <br> 
    <b class="tluste">Šikulka</b> - neplatí na něj negativní efekty v zámcích.
</p>
<p>
    <b class="tluste">Nevýhody:</b>
    <br>
    Nemůže používat zbraň delší než 60 cm, štíty ani luky.
    <br>
    Nemůže se naučit tvrdý úder.
</p>
<img src="{{ url_for('static', filename='images/gnom.png')}}" alt="">
<hr>
<p class="tluste">
    Většinu speciálních vlastností jednotlivých ras, pokud pro ně nejsou zakázané, mohou získat i
    ostatní jako dovednosti pomocí úkolů, zkušeností, učením. Některé dovednosti budou mít více úrovní.
</p>
<img class="boj" alt="armada" src="{{ url_for('static', filename='images/armada.png')}}">
<hr class="cara">

{% endblock %}
