{% extends "base.html" %}

{% block page_title %}Proběhlé{% endblock %}

{% block section %}Proběhlé{% endblock %}

{%block main_text %}
<h3>SVĚTLO NA KONCI TUNELU<br>16. 11. 2019</h3>
        <h4>Čtvrtá kapitola</h4>
        <p>Vzpomínáte, jak to skončilo na Pravdě?</p>
        <p style="font-style: italic;">
            ...Dlouhý čas, celá staletí, žili mniši uprostřed tajemného hvozdu v klášteře, který nazvali Pravda,
            a nikdo v Šalvanii nevěděl o jejich existenci. Co ve svém klášteře ukrývali? Jaká tajemství a jakou
            pravdu zde strážili a z pokolení na pokolení si předávali? Magický krystal chránil svým kouzlem okolí 
            kláštera před zlými silami a vetřelci, a proto si hvozd divoce bující kolem klášterních zdí vybraly
            různé lesní bytosti pro svůj život. Kromě hejkalů, divoženek, vil, skřítků a jiných kouzelných bytostí
            zde našli domov i divocí lesní elfové. Žili zde v klidu a nikým nerušeni.
            <br>
            Celá staletí mniši žili v míru s lesními bytostmi a nikdo jiný nevěděl o existenci kláštera ukrytého
            hluboko v temném hvozdu. Až jednou...
            <br>
            Odkud se vzali, nikdo neví. Najednou tu byli a soužili celé okolí. Démoni! Pronikli na svět trhlinou
            v blízkosti města Pustina a zabíjeli každého, koho potkali. Tak začal příběh družiny hrdinů.
            Protože se našli odvážlivci, kteří se rozhodli s démony bojovat, a přes mnohá nebezpečí a společnými
            silami mnohých se jim nakonec podařilo zvítězit. Mocným rituálem uzavřeli trhlinu, aby se už žádný démon
            nemohl dostat do našeho světa, a ostré stříbrné meče si poradily se zbytkem.
            <br>
            Ale běda! Králi démonů se podařilo uprchnout, aniž by si toho kdokoliv všiml. Bloudil krajem a nakonec
            se dostal až na samé hranice Starého hvozdu. Ani kouzelná síla magického krystalu ho nezastavila a on
            přes jeho obranu pronikl až do kláštera a rozmetal ho po celém okolí se všemi obyvateli i ukrytými poklady.
            Kouzelný krystal zmizel a démon se usadil v troskách kláštera. Povolal k sobě mnohé příšery a zle zde hospodařil.
            Vše živé z lesa uprchlo a hrůza se šířila do širého okolí.
            <br>
            Opět se sešla družina a vedena jedním z přeživších mnichů se vydala na nebezpečnou cestu, během níž zažila
            mnoho bojů a nepříjemných setkání. Musela porazit baziliška, vlkodlaka i tajemný přízrak, poradit
            si s upírem a čertem, stále napadána a ohrožována skupinami skřetů a topivců. Přes všechna nebezpečí se
            družina dostala až k troskám starého kláštera, kde se utkala se samotným démonem.
            <br>
            Jistě víte, že dobro vítězí. Hrdinové porazili démona (hlavně díky tomu, že mu zlomili kouzelné kladivo)
            a očistili místo od zlých příšer. Jednorožec se skupinou vil, která se k hrdinům přidala po cestě, přinesl
            ztracený magický krystal a les byl opět svobodný a pod ochranou jeho mocného kouzla. 
            <br>
            O existenci kláštera se však dozvěděli lidé. Jaké poklady ukrýval? A kde je jim konec? Mniši se pustili
            do horečného hledání a někteří z hrdinů se nabídli, že jim pomohou. Ale pozor, v lese se začíná objevovat
            řada podezřelých lidí a to se vůbec nelíbí ani mnichům ani lesním bytostem, které se pomalu navracejí
            do svých domovů. Propukají šarvátky a boje. Mniši hledají své poklady, ale skupina obchodníků
            (či spíš banditů?) se je snaží předhonit a získat poklady pro sebe. Elfové a další lesní bytosti se bouří,
            protože lidé ruší jejich klid. Jak tohle skončí? 
            <br>
            A navíc se chystá tajemný rituál...
            <br>
            Lesním bytostem se po mnoha bojích a různými kouzly podařilo vyhnat lidi z lesa a donutit je ukrýt
            se ve zdech kláštera. Tím to ale nekončí. Chystá se veliká bitva. Poslední. Bitva mezi lidmi a
            lesními bytostmi. Bitva, která rozhodne o osudu Starého hvozdu i kláštera. Bitva, ve které není možné
            stát stranou. Každý se musí rozhodnout, na kterou stranu se postavit!
            <br>
            A zatím dvě malé lesní čarodějky dokončily přípravu rituálu...
            <br>
            Obchodníci, kteří se ukryli v klášteře, přesvědčili staré mnichy, že je nutné spojit se proti elfům.
            Část hrdinů se postavila na jejich stranu, další se přidali k lesním bytostem. Boj začal.
            <br>
            Okolo ohně tančí dvě lesní čarodějky a další víly, skřítkové a jiné bytosti s lesem spojené se k
            nim přidávají. Les se ozývá jejich zpěvem a výkřiky, vzduch sytí vůně pálených bylin. Začal velký rituál...
            <br>
            Boj byl dlouhý a krutý. Elfů bylo mnohem víc, ale lidé byli lépe vycvičeni a tak se válečné štěstí
            dlouho nepřiklonilo ani k jedné straně. Ale přece jen elfů ubývá, už je jich jen hrstka, už bojuje
            jen několik a brání se z posledních sil v zoufalém pokusu zachránit si kůži, a nakonec ti, kterým se
            nepodařilo uprchnout, umírají pod ranami ostrých mečů.
            <br>
            Najednou je ticho. Umlkl válečný řev i sténání raněných. A tím tichem se nese zvuk. Co má znamenat?
            Je to zvuk mocného rituálu, který se blíží svému konci...
            <br>
            Vítězní mnichové se vrací do kláštera. Ale...
            <br>
            Před jeho branou se zastaví a nevěřícně zírají. Co se to děje? Mocným kouzlem poháněny odevšad
            vyrůstají šlahouny trnitých keřů a závratnou rychlostí šplhají po zdech kláštera, prorůstají škvírami
            mezi kamením a zahalují klášter neproniknutelnou houštinou. Usekněte jeden stonek a na jeho místě okamžitě
            vyrazí tři jiné! Trny jsou silné a ostré jak drápy pumy a rozdírají kůži pouhým dotykem. Jen blázen či sebevrah
            by se s nimi pustil do boje! Mniši však nedbají a vrhají se přímo do rychle rostoucí houštiny.
            Co chtějí? Zachránit své poklady? Nebo ve zdech kláštera ukrývají tajemství tak mocné, že kvůli němu riskují své životy?
            <br>
            Hrdinové z družiny, kteří přežili, ať už v boji stáli na kterékoliv straně, se semkli do hloučku a pozorují,
            jak klášter rychle zarůstá silnými šlahouny plnými trnů. Rituál se zdařil!
        </p>
{% endblock %}