{% extends "base.html" %}

{% block page_title %}Reálie světa{% endblock %}

{% block background_image %}
<div class="desktop">
<img id="realie" src="{{ url_for('static', filename='images/realie.png')}}" alt="realie">
</div>
{% endblock %}

{% block section %}Šalvánie{% endblock %}

{%block main_text %}
<img src="{{ url_for('static', filename='images/erby.png')}}" id="erby" alt="erby">
    <p>
        Šalvánie je země, ze které pochází většina postav a také se tam odehrává většina larpů. 
    </p>
    <p>
        Je to království tvořeno pěti knížectvími. V čele státu stojí král Vojtek I. Křivonosý z rodu Vladykovců.
        Ten však nevládne dlouho, donedávna probíhala v zemi občanská válka. Byl to spor o trůn mezi Veristony a Vladykovci.
        Hlavním městem je Sudlos, ale král v současné chvíli sídlí v Helemiotu ve Městě Merenín.  
    </p>
    <p>
        Nejdivočejší ale zároveň nejrozsáhlejší je severozápadní knížectví Holheim. Jedná se o poměrně málo osídlený kraj.
        Jeho obyvatelé jsou houževnatí a zvyklí na nevlídné podmínky. Žijí převážně v malých horských vesnicích a
        hradištích obehnaných palisádami. Je zde velmi početná menšina barbarů žijících společně s lidmi.
        V horských oblastech sem tam potkáte i trpaslíka z nedalekého Šalvánského pohoří, ale to jen pokud budete
        mít štěstí, protože se rádi skrývají. Pověsti praví, že ve zméněných horách jich žijí tisíce, ale žádný člověk
        se o tom nikdy nepřesvědčil na vlastní oči, protože vstup do trpasličích měst je bedlivě střežen.

        Obyvatelé jsou převážně pastevci a lovci. Chlapci umí již od nízkého věku zacházet s mečem a dívky nejsou příliš pozadu.
        Lidé se zde oblékají převážně do teplého vlněného oblečení a kožešin. Vojáci nosí většinou jen helmu a místo zbroje
        používají tlusté vlněné kaftany. Obvyklými zbraněmi bývá luk, krátké kopí a velký kulatý štít v kombinaci s krátkým mečem.
        Nenajdeme zde skoro žádnou jízdu, koně jsou v těchto končinách velmi vzácní a ve složitém terénu nepříliš praktičtí.
        
        Krajina Holheimu je drsná a nepříliš přívětivá pro život. Léta jsou krátká a chladná, zimy mrazivé a dlouhé.
        Většina území je kopcovitá a pokrytá hlubokými a tmavými hvozdy. Tyto lesy jsou pro neznalého pocestného nebezpečné,
        ale zato jsou jedním z mála míst, kde je stále možné potkat podivuhodné lesní bytosti jako jsou víly,
        divoženky nebo hejkalové. Čas od času tu můžeme narazit i na staré šalvánské bohy, protože víra je v
        tomto knížectví stále silná.
        
        Holheim má v erbu draka na zeleném a stříbrném poli.  
    </p>
    <p>
        Dalším ze šalvánských knížectví je Dolgoron. Krajina tohoto kraje se příliš neliší od Holheimu,
        jen je celkově o něco příznivější, obyvatelé civilizovanější a životní podmínky vlídnější.
        Lidé jsou zde velmi pověrčiví, věří nejen na staré šalváské bohy ale i všemožným báchorkám a
        povídačkám. Najdeme zde pár větších měst, ale většina obyvatel žije spíš ve vesnicích a dřevěných dvorcích.
        Kromě lidí se tu hojně zdržují elfové a další lesní bytosti, které jsou tu na rozdíl od zbytku Šalvánie brány
        jako přirozená součást obyvatelstva. Na jihozápadním okraji země jsou poměrně obvyklí i hobiti, kteří se zde
        usadili a starají se o svá pole nebo statky.

        Lidé se zde živí jak pastevectvím tak i pěstováním nenáročných plodin jako jsou brambory.
        V jižních částech knížectví se hojně pěstuje i pšenice a len. Lidé se nejčastěji odívají do
        vlněných tunik a volných kabátů. Vojáci používají nejčastěji kroužkovou zbroj, ale najdou se i tací,
        co si můžou dovolit kyrys, nebo plátová ramena. Oproti Holheimu jsou zde velmi oblíbení koně.
        Dolgoronská jízda je velmi proslavená po celé Šalvánii. Typickou výbavou dolgoronského jezdce
        je krátké jezdecké kopí, štít s erbem jeho rodu a meč. Pěchota bývá vybavena pavézami, kopími, nebo kušemi.

        Krajina Dolgoronu je poměrně rozmanitá. Na severu najdeme nehostinné pobřeží bičované mrazivými větry.
        Naopak jižní část je velmi úrodná, cesty mezi poli lemované jabloněmi bývají upravené a bezpečné.
        Většinu území však pokrývají smíšené lesy plné zvěře a nejrůznějších pohádkových bytostí.

        Dolgoron má v erbu bílého vlka na hnědém poli. Tento vlk symbolizuje šalvánského boja Vorka,
        který se lidem zjevuje v podobě vlčího ducha.
    </p>
    <p>
        Nejměnším ale rozhodně ne nejslabším knížectvím je Helemiot. Většinu jeho rozlohy pokrývá velké Luvínské jezero.
        Krajina je nížinná, protkaná četnými potoky a říčkami. Obyvatelé bývají milí a všemožně podporují magii.
        Vždyť mají i největší magickou univerzitu na světě - osamělou stavbu kousek od pobřeží Luvínského jezera zvanou Levilósos.
        To, že většina proslulých mágů pochází z Helemiotu není pouze fáma. Mísí se zde víra ve staré šalvánské bohy s Rumiánským bohem Antarem.

        Většina obyvatestva se živí rybařením. Co jiného by také v zemi řek a jezer měli dělat? Jak již bylo zmíněno,
        je zde mnoho lidí věnujících se magii. Najdeme zde několik větších měst, nejznámější je asi přístav Merenín,
        který se nachází na severním břehu jezera. Lidé žijí buďtu ve městech a nebo v rybářským vesnicích.
        Obyčejní lidé se odívají do delších lněných košil, sedláci a měšťané nosí nejčastěji vlněné kabáty,
        šlechtici si můžou dovolit i hedvábí nebo brokát. Velmi oblíbeným modním doplňkem zvláště mezi mladými lidmi jsou všemožné klobouky.
        Vojíci nosí stejně jako v Dolgoronu kroužkové zbroje. Pláty zde nejsou příliš obvyklé, za což můžou spíš nižší příjmy většiny obyvatel.
        Ze stejného důvodu mají převážně pěchotní vojsko, i když v královské družině najdeme mnoho proslulých rytířů v kopletní plátové zbroji.
        Tito rytíři bojují na koni, nosí štít se svým erbem a meč. Většina vojska je ale tvořena spíš prostými obyvateli,
        ti bývají ozbrojeni kopími, luky, ale i všemožnými rybářskými a zemědělskými nástroji. Měšťané, pokud nemusí,
        nebojují, radši se věnují učení. Ne nadarmo se Helemiotu říká mozek Šalvánie. Na venkově můžeme kromě
        lidí potkat pomerně často i hobity. Přišli sem před dávnými časy, usadili se a stali se z nich bohatí
        sedláci, nebo různí komorní na šlechtických dvorech. Města se naopak přímo hemží gnómy.
        Ti zde šíří své znalosti a dovednosti, nabízejí nejnovější vynálezy a spolupracují s nejmocnějšími mágy.
        Města je stejně jako vzdělání celkově velmi podporují.

        Helemiot má v erbu stříbrnou mořskou panu s korunou na modrém poli. Koruna přibyla nově a znázorňuje královský rod.
    </p>
    <p>
        Čtvrtým z pěti knížectví je Veriston. Je to země s nejstarší historií. Vládnoucí rod Veristonů je mocnější
        než sám král a s vyspělou kulturou tohoto kraje se může rovnat snad jen Rumián. Obyvatelé si velmi zakládají
        na tradicích, ctí své předky a studují historii. Příliš nepodporují magii ale nestaví se k ní ani odmítavě.
        Více cílí na patero nejvyšších učení - teologii, historii, rétoriku, anatomii a umění. Na univerzitě ve Veristonu
        však můžete studovat i astronomii nebo geografii. Mezi obyvatele tohoto knížectví se s Rumiánu rozšířila víra v Antara,
        proto tu už prakticky vůbec nepotkáme staré šalvánské bohy.

        Velká část obyvatelstva žije ve městech, ale i vesnické oblasti bývají vesměs velmi civilizované. Lidé nacházejí obživu
        v zemědělství a v řemeslech. Řemeslníci se sdružují v ceších. Máme zde například truhláře, kováře, pekaře nebo zlatníka.
        V každém městě je i cech obchodníků, ti nabízejí kvalitní Veristonské zboží v Rumiánu nebo jiných šalvánských knížectvích.
        Zároveň dováží drahé látky a šperky z jihu a z východu. Obyčejní lidé chodí oblečeni v doubletech a vlněných kabátech,
        bohatší si můžou dovolit drahé látky jako je brokát nebo aksamit. Oblýbenými doplňky bývají nejrůznější klobouky a barety.
        Vojáci nosí kroužkovou nebo plátovou zbroj. Mnoho lidí ma dost peněz, aby si koupili koně, jízda tudíž není ničím neobvyklým.
        Z tohoto kraje pochází nemalý počet světoznámých rytířů, kteří vyhrávají turnaje po celém světě. Ti nosí většinou štít se svým
        erbem a meč. Obvyklou zbraní bývá i dlouhý meč. Vojsko jako takové je však spíš průměrné, kníže cílí hlavně na jiné věci.
        Vzhledem k jeho obrovskému bohatství u něj slouží mnoho žoldáků převážně z Maranonu, kteří z jeho vojska dělají velmi silného protivníka.
        
        Krajina je spíš rovinatá se spoustou řek. Na severu jsou kopce a Šalvánské hory, kde se těží zlato. Celé území je velmi úrodné.
        Pěstuje se zde pšenice, len, chmel, zelenina a na jihu se poměrně daří i vínu.
        
        Veriston má ve znaku věž a klíč. Jeho barvami jsou černá, zlatá a rudá. 
    </p>
    <p>
        Posledním knížectvím je Mallisteiles. Rozlohou není příliš velké, ale za to je velmi bohaté, dokonce ještě více než Veriston.
        Zbohatlo převážně z námořního obchodu s Rumiánem a Akk-Taalishem. Také je velmi proslulé, nechvalně proslulé.
        Jako se na severu vyřizují účty soubojem na život a na smrt, v Mallisteilles je obvyklé zbavit se svého nepřítele lstí,
        jedem ve víně, nebo na něj poslat nájemné vrahy. Není to však jediné, čím se země proslavila. Z tohoto knížectví pochází
        snad ta nejlepší vína z celé Šalvánie, směle se můžou rovnat s těmi Rumiánskými. A se svými sýry Rumián snad i předčí.
        Když se řekne mallisteilská poezie, každý ví, o čem je řeč. Je tak proslulá, že ji znají i ve Svobodných městech.
        Stejně tak rytířská kultura zde zažívá největší rozkvět. Po hradech se prochází dvorní dámy v drahých šatech a rytíři v
        pozlacených zbrojích. Pro obyvatele Mallisteiles není žádná látka tak drahá, aby z nemohli mít dlouhé nařasené kabáty.
        Ti nejbohatší mívají dokonce pláště vyšívané zlatem. Vojsko je velmi dobře vyzbrojené a vycvičené. Pěšáci používají dlouhé píky,
        halapartny a kúsy. Jezdci bývají oděni do plátových zbrojí vykládaných zlatem a nosí jezdecké kopí a dlouhý meč.
        V žádné jednotce nesmí chybět dělo. Střelci většinou používají kuše, nebo jednoduché pušky.

        Většina obyvatel se věnuje obchodu. Jsou zde ale obvyklá i řemesla a umění. Mnoho řemeslníků staví lodě, nebo šije drahé oděvy.
        Z plodin je z daleka nejobvyklejší víno. Vinice jsou typickým výjevem tohoto kraje. Potkáme tu ale i pole s pšenicí,
        ovocné sady a pastviny. Ovce a krávy se pasou převážně na severu a na jihu, kde najdeme hory.
        
        Mallisteiles má ve znaku červeného lva jako figurku na šachovnici. Znázorňuje sílu a zároveň chytrost. 
    </p>
{% endblock %}